<% if flash.any? %>
  <section id="flashes" data-role="flash-notice">
    <ul>
    <% flash.each do |name, message| -%>
      <li class="flash-<%= name %>"><%= message %></li>
    <% end -%>
    </ul>
  </section>
<% end %>
