<!-- TODO: Try with devise helper -->
<% if current_user.logged_in? %>
<nav>
  <ul>
    <li><a href="#">Sites</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Links</a></li>
    <li><a href="#">Topics</a></li>
    <li><a href="#">Tags</a></li>
  </ul>
</nav>
<% end %>
